.gallery
  display flex
  align-items center
  justify-content center
  position relative
  width 100%
  height 80vh
  background-color #ddd
  background-image url('../../assets/images/bg1.jpeg')
  background-position center
  background-size cover

section
  position relative
  width 100%
  max-width 1280px
  margin 0 auto
  padding 15px

.title
  color #ccc
