.gallery
  display flex
  align-items center
  justify-content center
  position relative
  width 100%
  height 560px
  background-color #ddd
  background-image url('../../assets/images/bg2.jpeg')
  background-position center
  background-size cover

.section1
  position relative
  width 100%

.sectionWrapper
  max-width 1280px
  margin 0 auto
  padding 15px

.title
  color #ccc
